/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  color: #303742;
}

/* Page styles
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Opens Sans', sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}


/*Contact*/

.label {
    display: block;
}