<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="build/bundle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="page">
    {{> partials/header }}
    <main class="main">
        <div class="container">
            {{> partials/gallery }}
            {{> partials/about }}
            {{> partials/contact }}
            {{> partials/learning }}
        </div>
    </main>
<script src="build/bundle.js"></script>
</body>
</html>