.grid {
    display: flex;
}

.grid_item {
    width: 50%;
}

.original {
    display: block;
    background-color: green;
    height: 100px;
    width: 100px;
    color: #fff;
}

.cloned {
    background-color: red;
    margin: 5px auto;
}

.clones {
    border: 1px solid red;
    min-height: 500px;
}

.modal {
    background-color: rgba(0,0,0, .55);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in;
}

.modal.is_active {
    opacity: 1;
    visibility: visible;
}

.input_username {
    font-size: 16px;
    border: none;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
}

.button {
    border: none;
    background-color: blue;
    display: inline-block;
    color: #fff;
    height: 35px;
    padding: 0 30px;
}

.error {
    color: white;
}

